In [2]:
!pip install pandas

Collecting pandas
  Using cached pandas-1.5.2-cp310-cp310-win_amd64.whl (10.4 MB)
Collecting numpy>=1.21.0
  Using cached numpy-1.23.5-cp310-cp310-win_amd64.whl (14.6 MB)
Collecting pytz>=2020.1
  Using cached pytz-2022.6-py2.py3-none-any.whl (498 kB)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\chrfur\onedrive - po söderberg & partner ab\4. archive\documents\git\car-pool-analysis\.venv\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\chrfur\onedrive - po söderberg & partner ab\4. archive\documents\git\car-pool-analysis\.venv\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.23.5 pandas-1.5.2 pytz-2022.6

In [3]:
import pandas as pd

In [16]:
df = pd.read_csv("data.csv")
df

,Start,End,Registration,Amount,Amount Refunded,Days,Hours,Kilometers,Unnamed: 8,Unnamed: 9,Monthly fee,Large,Unnamed: 12,Monthly fee.1,Lagom,Unnamed: 15,Monthly fee.2,Premium
0,2022-09-30 8:45,2022-09-30 12:00,ESP27B,"320,26","0,00",0,3,22,NaN,NaN,"895,00","0,00",NaN,"195,00","195,00",NaN,"395,00","0,00"
1,2022-04-06 8:30,2022-04-06 16:00,ESP27B,"617,50","0,00",0,7,40,NaN,NaN,"895,00","0,00",NaN,"195,00","0,00",NaN,NaN,NaN
2,2022-03-27 13:00,2022-03-27 17:15,FCE68C,"559,51","0,00",0,4,106,NaN,NaN,"895,00","0,00",NaN,"195,00","0,00",NaN,NaN,NaN
3,2022-03-20 17:30,2022-03-20 22:00,MGD320,"305,00","0,00",0,4,20,NaN,NaN,"895,00","0,00",NaN,"195,00","0,00",NaN,NaN,NaN
4,2022-03-20 9:00,2022-03-20 12:30,YTH92B,"379,91","0,00",0,3,49,NaN,NaN,"895,00","0,00",NaN,"195,00","0,00",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,2020-04-10 16:00,2020-04-10 18:00,KRL89A,"577,00","0,00",0,2,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,2020-04-10 11:00,2020-04-10 17:00,BEM53G,"155,00","0,00",0,6,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,2020-04-09 15:30,2020-04-09 17:30,OKX24B,"176,54","0,00",0,2,44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,2020-04-04 15:45,2020-04-04 17:30,PRK994,"160,38","0,00",0,1,43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,2020-04-04 11:00,2020-04-04 14:00,KRL89A,"221,50","0,00",0,3,47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df.dtypes

Start               object
End                 object
Registration        object
Amount              object
Amount Refunded     object
Days                 int64
Hours                int64
Kilometers           int64
Unnamed: 8         float64
Unnamed: 9         float64
Monthly fee         object
Large               object
Unnamed: 12        float64
Monthly fee.1       object
Lagom               object
Unnamed: 15        float64
Monthly fee.2       object
Premium             object
dtype: object

In [26]:
df["Start"] = pd.to_datetime(df["Start"])
df["End"] = pd.to_datetime(df["End"])
df["Amount"] = df.Amount.replace(",", ".")
df.dtypes

Start              datetime64[ns]
End                datetime64[ns]
Registration               object
Amount                     object
Amount Refunded            object
Days                        int64
Hours                       int64
Kilometers                  int64
Unnamed: 8                float64
Unnamed: 9                float64
Monthly fee                object
Large                      object
Unnamed: 12               float64
Monthly fee.1              object
Lagom                      object
Unnamed: 15               float64
Monthly fee.2              object
Premium                    object
startYear                   int64
startMonth                  int64
endMYear                    int64
endMonth                    int64
dtype: object

In [27]:
df["startYear"] = df.Start.dt.year
df["startMonth"] = df.Start.dt.month
df["endMYear"] = df.End.dt.year
df["endMonth"] = df.End.dt.month

In [28]:
df

,Start,End,Registration,Amount,Amount Refunded,Days,Hours,Kilometers,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Monthly fee.1,Lagom,Unnamed: 15,Monthly fee.2,Premium,startYear,startMonth,endMYear,endMonth
0,2022-09-30 08:45:00,2022-09-30 12:00:00,ESP27B,"320,26","0,00",0,3,22,NaN,NaN,...,NaN,"195,00","195,00",NaN,"395,00","0,00",2022,9,2022,9
1,2022-04-06 08:30:00,2022-04-06 16:00:00,ESP27B,"617,50","0,00",0,7,40,NaN,NaN,...,NaN,"195,00","0,00",NaN,NaN,NaN,2022,4,2022,4
2,2022-03-27 13:00:00,2022-03-27 17:15:00,FCE68C,"559,51","0,00",0,4,106,NaN,NaN,...,NaN,"195,00","0,00",NaN,NaN,NaN,2022,3,2022,3
3,2022-03-20 17:30:00,2022-03-20 22:00:00,MGD320,"305,00","0,00",0,4,20,NaN,NaN,...,NaN,"195,00","0,00",NaN,NaN,NaN,2022,3,2022,3
4,2022-03-20 09:00:00,2022-03-20 12:30:00,YTH92B,"379,91","0,00",0,3,49,NaN,NaN,...,NaN,"195,00","0,00",NaN,NaN,NaN,2022,3,2022,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,2020-04-10 16:00:00,2020-04-10 18:00:00,KRL89A,"577,00","0,00",0,2,35,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2020,4,2020,4
123,2020-04-10 11:00:00,2020-04-10 17:00:00,BEM53G,"155,00","0,00",0,6,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2020,4,2020,4
124,2020-04-09 15:30:00,2020-04-09 17:30:00,OKX24B,"176,54","0,00",0,2,44,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2020,4,2020,4
125,2020-04-04 15:45:00,2020-04-04 17:30:00,PRK994,"160,38","0,00",0,1,43,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2020,4,2020,4
126,2020-04-04 11:00:00,2020-04-04 14:00:00,KRL89A,"221,50","0,00",0,3,47,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2020,4,2020,4

In [23]:
df[["startYear", "Amount"]].groupby("startYear").sum()

                                                      Amount
startYear
2020       527,00286,76516,50630,76433,50343,26151,50281,...
2021       260,00268,00864,0098,00852,0068,00122,00242,00...
2022       320,26617,50559,51305,00379,91395,005762,00476...